.main-home {
    margin-top: 0;
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.circle-img-crop {
    margin: 0;
    height: 35vw;
    width: 35vw;
    max-height: 450px;
    max-width: 450px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headshot {
    margin-top: -17%;
    height: 134%;
}

#title-intro {
    text-align: center;
    font-family: Arial, Trebuchet MS, sans-serif;
    font-size: calc(30px + 4vw);
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
}

.rain-clouds {
    position: absolute;
    display: flex;
    /* margin-top: 7vh; */
    height: 100vh;
    flex-direction: column;
    /* border: 2px solid red; */
}