.main-skills {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    /* margin-top: 90px; */
    padding: 115px 0;
    height: 100vh;
    width: 100vw;
    /* border: 2px solid #ff0000; */
    /* min-width: 500px; */
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    /* padding: 20px; */
    z-index: -1;
}

.main-skills section {
    margin-bottom: 30px;
}

/* alternating cards */
/* .cards {
    position: relative;
    width: 80%;
    margin: auto;
} */

.cards {
    /* border: 2px solid red; */
    position: relative;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    /* margin-top: 90px; */
    margin: auto;
    /* height: 20vh; */
    width: 80%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    gap: 20px;
    padding: 9px;
    overflow-x: scroll;
}