.clouds {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 15;
    padding: 0;
}

.left-clouds {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* right: 50%; */
    animation-name: cloud-roll-in-from-left;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.right-clouds {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    left: 50%;
    animation-name: cloud-roll-in-from-right;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes cloud-roll-in-from-left {
    from {
        right: 100%;
    }
    to {
        right: 50%;
    }
}

@keyframes cloud-roll-in-from-right {
    from {
        left: 100%;
    }
    to {
        left: 50%;
    }
}