.content-background {
    position: fixed;
    background-image: linear-gradient(to bottom, rgba(254, 241, 254, 0.263), rgba(209, 247, 230, 0.457));
    width: 90vw;
    height: 100vh;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    z-index: -10;
}