nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 30px 5vw;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: rgb(212, 228, 210);
    box-shadow: 5px 5px rgba(107, 223, 89, 0.353);
    z-index: 999;
}

nav a {
    font-family: Arial, Trebuchet MS, sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 5px;
    /* font-weight: bold; */
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 4px;
    background-color: rgb(176, 188, 210);
}

nav a:hover {
    background-color: rgba(221, 232, 165, 0.785);
    transition: background-color 0.7s;
}

.active {
    font-weight: bold;
    color: rgba(205, 60, 241, 0.861)
}