.projects {
    color: black;
    position: relative;
    width: 100%;
    display: grid;
    align-self: flex-start;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

#reveal-screen-on {
    position: relative;
    background-color: rgb(178, 165, 243);
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border-radius: 5px;
    z-index: 5;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

    color: white;
    font-weight: bold;
}

#reveal-screen-off {
    display: none;
}

#homepage-screenshot {
    margin: 10px;
    position: relative;
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
}

#website-details {
    position: relative;
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
}