.projects {
    background-color: rgba(222, 156, 200, 0.399);
    border-radius: 5px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 30vh;
    overflow: hidden;
}

#reveal-screen-on {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 5px;
    z-index: 5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
}

#reveal-screen-off {
    display: none;
}

.projects-content {
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
}

.content-blur {
    filter: blur(20px);
}

#homepage-screenshot {
    /* margin: 10px; */
    position: relative;
    z-index: 1;
    height: 100%;
}

#website-details {
    position: relative;
    z-index: 1;
    font-size: 20px;
}